set clipboard+=unnamed "set system clipboard to be ideavim clipboard
set highlightedyank "highlight yanked text
set nerdtree "enable navigating file tree with vim motions
set visualbell "disable bellsound on errors
set easymotion "enable easymotion if you have the plugin
set notimeout
set relativenumber
set number
set ignorecase
set smartcase
let mapleader = " "

inoremap kj <Esc>

nnoremap <S-l> :tabnext<CR>
nnoremap <S-h> :tabprev<CR>

map <leader>q <Action>(CloseContent)
map <leader>e :NERDTreeToggle<CR>
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>p <Action>(ReformatCode)
map <leader>re <Action>(RenameElement)
map <leader>run <Action>(RunClass)
map <leader>stop <Action>(Stop)
map <leader>lk <Action>(SelectInProjectView)

# search actions
map <leader>sf <Action>(GotoFile)
map <leader>sg <Action>(FindInPath)

#debugging
map <leader>dr <Action>(DebugClass)
map <leader>dp <Action>(ToggleLineBreakpoint)
map <leader>dg <Action>(Resume)
map <leader>do <Action>(StepOver)
map <leader>di <Action>(StepInto)

#easymotion
map <leader>j <Plug>(easymotion-s)
