set clipboard+=unnamed
set highlightedyank
set nerdtree
set visualbell

let mapleader = " "

inoremap kj <Esc>

nnoremap <S-l> :tabnext<CR>
nnoremap <S-h> :tabprev<CR>

map <leader>q <Action>(CloseContent)
map <leader>e :NERDTreeToggle<CR>
map <leader>f <Action>(GotoFile)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>p <Action>(ReformatCode)
map <leader>re <Action>(RenameElement)
map <leader>run <Action>(RunClass)
map <leader>debug <Action>(DebugClass)
