set clipboard+=unnamed
set highlightedyank
set nerdtree
set visualbell
set easymotion
set notimeout
set relativenumber
let mapleader = " "

inoremap kj <Esc>

nnoremap <S-l> :tabnext<CR>
nnoremap <S-h> :tabprev<CR>

map <leader>q <Action>(CloseContent)
map <leader>e :NERDTreeToggle<CR>
map <leader>f <Action>(GotoFile)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>p <Action>(ReformatCode)
map <leader>re <Action>(RenameElement)
map <leader>run <Action>(RunClass)
map <leader>stop <Action>(Stop)
map <leader>debug <Action>(DebugClass)
map <leader>lk <Action>(SelectInProjectView)

#debugging
map <leader>dp <Action>(ToggleLineBreakpoint)
map <leader>dg <Action>(Resume)
map <leader>do <Action>(StepOver)
map <leader>di <Action>(StepInto)

#easymotion
map <leader>j <Plug>(easymotion-s)

